.creditsSection {
  width: 100%;
  background: linear-gradient(286.39deg, #FFF9EB 0%, #FFF6F3 100%);
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;
  color: var(--color-white);
  margin-top: 50px;
}

.container {
  width: 75%;
  padding-top: 50px;
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
}

.companyCard {
  width: 30%;
  padding: 10px;
}

.companyLogo {
  width: 70%;
  height: auto;
  object-fit: contain;
}

.companyDesc {
  margin: 0 0 10px;

  font-size: 16px;
  line-height: 1.5;
  color: #090C1C;
}

.companyEmail {
  font-size: 16px;
  color: #090C1C;
  text-decoration: none;
  font-weight: 600;

}

.mainContent {
  width: 70%;
  display: grid;
  display: flex;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-xl);
  margin-bottom: var(--gap-xl);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.sectionTitle {
  font-family: var(--font-family-saira);
  font-size: 20px;
  font-weight: 600;
  color: #090C1C;
  margin: 0;
  /* margin-bottom: var(--gap-small); */
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.link {
  color: #090C1C;
  text-decoration: none;
  font-size: var(--font-size-body);
  line-height: 1.5;
  transition: var(--transition-fast);
}

.link:hover {
  color: var(--color-orange);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.contactItem {
  color: #cccccc;
  font-size: var(--font-size-small);
  line-height: 1.4;
  margin: 0;
}

.separator {
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--color-orange-light) 50%,
    transparent 100%
  );
  margin: var(--gap-large) 0;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-medium);
}

.copyright {
  font-size: var(--font-size-small);
  color: #999999;
}

.legalLinks {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.legalLink {
  color: #999999;
  text-decoration: none;
  font-size: var(--font-size-small);
  transition: var(--transition-fast);
}

.legalLink:hover {
  color: var(--color-orange);
}

.divider {
  color: #666666;
  font-size: var(--font-size-small);
}

.virtual{
  width: 100%;
  margin-bottom: -5px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--gap-small);
    display: block;
  }
  
  .companyCard, .mainContent{
    width: 100%;
    padding-bottom: 30px;
  }

  .creditsSection {
    padding-top: 50px;
  }

  .mainContent {
    grid-template-columns: 1fr;
    gap: var(--gap-large);
  }

  .bottomSection {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-small);
  }

  .legalLinks {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .mainContent{
    display: block;
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
  }

  .section{
    margin-top: 30px;
  }
}
