.missionVisionSection {
  width: 100%;
  padding: var(--section-padding-mission);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--content-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--gap-large);
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 1024px) {
  .missionVisionSection {
    padding: 40px 0;
  }

  .container {
    padding: 0 16px;
    gap: var(--gap-medium);
    align-items: center;
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);
    width: 100%;
    max-width: 100%;
  }

  /* Class của mỗi card */
  .card {
    width: 100%;
    max-width: 100%;
  }
}