.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.time {
  color: #666;
  font-size: 14px;
}

.description {
  line-height: 1.6;
}

.detail {
  line-height: 1.8;
  white-space: pre-line;
  padding-bottom: 20px;
}