.newsSection {
  width: 100%;
  padding-top: 50px;
  background: linear-gradient(294.2deg, #ffe8d8 0%, #ffedd9 100%);

  /* background-image: url("/src/v2/assets/news/background.png"); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--content-padding);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xxl);
  justify-content: space-between;
}

.title {
  font-family: var(--font-family-saira);
  font-size: 64px;
  font-weight: 700;
  background: var(--gradient-news-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  flex: 1;
  line-height: 1.2;
  letter-spacing: 5px;
}

.videoContainer {
  flex-shrink: 0;
  width: 700px;
  height: 394px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  box-shadow: var(--shadow-medium);
}

.video {
  width: 100%;
  height: 100%;
  border: none;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-medium);
  width: 100%;
}

.viewButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.view{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: linear-gradient(294.2deg, #FF8600 0%, #FFD651 100%);
  border-radius: 30px;
  color: white;
}

.view:hover{
  border: 1px solid #FFD651;
}

@media (max-width: 1024px) {
  .header{
    display: block;
  }

  .videoContainer{
    width: 100%;
    margin-top: 30px;
  }
  .title{
    text-align: center;
  }

  .newsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--gap-small);
  }

  .title {
    font-size: 36px;
  }

  .videoContainer {
    height: 200px;
  }

  .newsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-small);
  }
}

@media (max-width: 480px) {

  .newsGrid {
    grid-template-columns: 1fr;
  }
}
